::ng-deep .mat-grid-tile-content {
   justify-content: flex-start !important;
}

.full-width-input {
   width: 100%;
}

::ng-deep .field-with-space .mat-grid-tile-content {
   margin-right: 5px !important;
}

::ng-deep .mat-form-field-prefix {
   top: unset !important;
}
