.main-container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   flex-flow: nowrap;
   align-items: flex-start;
   justify-content: space-between;
   justify-items: center;
   height: 89.3%;
}

.container-lista {
   border-style: solid;
   border-width: 1px;
   border-radius: 4px;
   border-color: #b3b9c4;
   height: 100%;
   width: 32.4%;
   overflow-y: auto;
   overflow-x: hidden;
}

.container-titulo {
   background-color: #FAFAFA;
   padding: 3% 5% 2% 5%;
   position: sticky;
   top: 0;
   left: 0;
   color: #414040;
   font-size: 20px;
   font-weight: 500;
}

.badge {
   font-size: 16px;
   font-weight: 300;
   background-color: #dfdfdf;
   padding: 3px 9px;
   border-radius: 50px;
}

.lista {
   margin: 5%;
   border: solid 1px #ccc;
   min-height: 60px;
   background: white;
   border-radius: 4px;
   overflow: hidden;
   display: block;
}

.item-lista {
   padding: 20px 10px;
   border-bottom: solid 1px #ccc;
   color: rgba(0, 0, 0, 0.87);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   cursor: move;
   background: white;
   font-size: 14px;
}

.item-lista:last-child {
   border: none;
}

.cdk-drag-preview {
   box-sizing: border-box;
   border-radius: 4px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2) 0 8px 10px 1px rgba(0, 0, 0, 0.14) 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.lista.cdk-drop-list-dragging .item-lista:not(.cdk-drag-placeholder) {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
   background: #ccc;
   border: dotted 3px #999;
   min-height: 60px;
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
