.container {
   display: flex;
   position: relative;
}

.imagem-produto {
   max-width: 90px;
   min-width: 90px;
   display: flex;
   object-fit: cover;
   overflow: hidden;
   justify-content: center;
   margin-right: 10px;
}

.container-descricao {
   display: inline-block;
}

.descricao {
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
}

.descricao-icone {
   transform: scale(0.8);
   vertical-align: middle;
}

.data-hora-pedido {
   font-size: 10px;
   position: absolute;
   bottom: 0;
   right: 0;
}

mat-icon {
   color: var(--icon-color);
   margin-right: 5px;
}

.icone-cancelar {
   color: var(--primary-color);
   cursor: pointer !important;
   position: absolute;
   right: 0;
}
