table {
   width: 100%;
}

.botao-acao {
   margin-left: 5%;
}

mat-row:hover {
   background: whitesmoke;
}

.container-filtro {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.filtro {
   width: 100%;
   margin-right: 2%;
}

.icone-filtro {
   color: #535353;
}

.botao-recarregar {
   position: fixed;
   bottom: 40px;
   right: 40px;
   width: 70px;
   height: 70px;
}
