table {
   width: 100%;
}

.botao-acao {
   margin-left: 5%;
}

mat-row:hover {
   background: whitesmoke;
}

.container-filtro {
   padding: 0px 20px 0px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.filtro {
   width: 100%;
}

.filtro,
.botao-recarregar {
   margin-right: 1%;
}

.icone-filtro {
   color: #535353;
}
