.botao-recarregar {
   position: fixed;
   bottom: 40px;
   right: 40px;
   width: 70px;
   height: 70px;
   z-index: 1000;
}

.loading-shade {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0px;
   right: 0;
   background: rgba(0, 0, 0, 0.26);
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

table {
   width: 100%;
}

mat-row:hover {
   background: whitesmoke;
}

tr.linha-detalhes-produto {
   height: 0;
}

.detalhes-produto {
   overflow: hidden;
   display: flex;
}

.descricao-produto {
   padding: 20px;
}

.container-filtro {
   padding: 0px 20px 0px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.filtro {
   width: 100%;
   margin-right: 2%;
}

.icone-filtro {
   color: #535353;
}
