.main-container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   flex-flow: nowrap;
   align-items: flex-start;
   justify-content: space-between;
   justify-items: center;
   height: 89.3%;
}

.container-lista {
   border-style: solid;
   border-width: 1px;
   border-radius: 4px;
   border-color: #b3b9c4;
   height: 100%;
   width: 32.5%;
   overflow-y: auto;
   overflow-x: hidden;
}
