<div class="main-container">
   <app-pedidos-pendentes [carregando]="carregando" class="container-lista mat-elevation-z2"></app-pedidos-pendentes>
   <app-pedidos-cozinhando [carregando]="carregando" class="container-lista mat-elevation-z2"></app-pedidos-cozinhando>
   <app-pedidos-prontos [carregando]="carregando" class="container-lista mat-elevation-z2"></app-pedidos-prontos>

   <button mat-fab class="botao-recarregar" color="primary" aria-label="Recarregar dados"
      (click)="atualizarDados(true)">
      <mat-icon>refresh</mat-icon>
   </button>
</div>
