<div cdkDropListGroup>
   <div class="container-titulo">
      <span class="badge badge-pendente">{{pedidosPendentes.length}}</span>
      Pendentes
   </div>

   <div id="listaPendentes" [cdkDropListData]="pedidosPendentes"
      [cdkDropListConnectedTo]="['listaCozinhando', 'listaProntos']" class="lista" cdkDropList
      (cdkDropListDropped)="drop($event)">

      <div class="container-vazio" *ngIf="pedidosPendentes.length == 0">
         <mat-spinner></mat-spinner>
      </div>

      <div class="item-lista" *ngFor="let item of pedidosPendentes" cdkDrag>
         <div class="custom-placeholder" *cdkDragPlaceholder></div>
         <img src='data:image/png;base64,{{item.fotoProdutoDoPedido}}' />
         {{item.statusProdutoDoPedido}}
      </div>

   </div>
</div>
