<div cdkDropListGroup>
   <div class="container-titulo">
      <span class="badge badge-pronto">{{pedidosProntos.length}}</span>
      Prontos
   </div>

   <div id="listaProntos"
      class="lista"
      cdkDropList
      [cdkDropListData]="pedidosProntos"
      [cdkDropListConnectedTo]="['listaCozinhando', 'listaPendentes']"
      (cdkDropListDropped)="drop($event)">

      <div class="container-vazio"
         *ngIf="carregando">
         <mat-spinner></mat-spinner>
      </div>

      <div class="container-vazio"
         *ngIf="pedidosProntos.length == 0 && !carregando">
         Não há pedidos aqui...
      </div>

      <div class="itens-lista"
         *ngFor="let item of pedidosProntos"
         cdkDrag
         (cdkDragStarted)="podeAtualizar(false)"
         (cdkDragDropped)="podeAtualizar()">
         <div class="custom-placeholder"
            *cdkDragPlaceholder></div>
         <app-pedidos-item [pedido]="item"></app-pedidos-item>
      </div>
   </div>
</div>
