<div cdkDropListGroup>
   <div class="container-titulo">
      <span class="badge badge-cozinhando">{{pedidosCozinhando.length}}</span>
      Cozinhando
   </div>

   <div id="listaCozinhando" [cdkDropListData]="pedidosCozinhando" class="lista" cdkDropList
      [cdkDropListConnectedTo]="['listaPendentes', 'listaProntos']" (cdkDropListDropped)="drop($event)">

      <div class="container-vazio" *ngIf="pedidosCozinhando.length == 0">
         <mat-spinner></mat-spinner>
      </div>

      <div class="item-lista" *ngFor="let item of pedidosCozinhando" cdkDrag>
         <div class="custom-placeholder" *cdkDragPlaceholder></div>
         <img src='data:image/png;base64,{{item.fotoProdutoDoPedido}}' />
         {{item.statusProdutoDoPedido}}
      </div>
   </div>
</div>
