<div cdkDropListGroup>
   <div class="container-titulo">
      <span class="badge badge-cozinhando">{{pedidosCozinhando.length}}</span>
      Cozinhando
   </div>

   <div id="listaCozinhando"
      [cdkDropListData]="pedidosCozinhando"
      class="lista"
      cdkDropList
      [cdkDropListConnectedTo]="['listaPendentes', 'listaProntos']"
      (cdkDropListDropped)="drop($event)">

      <div class="container-vazio"
         *ngIf="carregando">
         <mat-spinner></mat-spinner>
      </div>

      <div class="container-vazio"
         *ngIf="pedidosCozinhando.length == 0 && !carregando">
         Não há pedidos aqui...
      </div>

      <div class="itens-lista"
         *ngFor="let item of pedidosCozinhando"
         cdkDrag
         (cdkDragStarted)="podeAtualizar(false)"
         (cdkDragDropped)="podeAtualizar()">
         <div class="custom-placeholder"
            *cdkDragPlaceholder></div>
         <app-pedidos-item [pedido]="item"></app-pedidos-item>
      </div>
   </div>
</div>
