/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
   height: 100%;
   background-color: #FAFAFA;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   overflow: hidden;
}

.blur-1 {
   filter: blur(0.15rem);
   transform: scale(1.1);
}

.blur-2 {
   filter: blur(0.25rem);
   transform: scale(1.1);
}

.blur-3 {
   filter: blur(0.35rem);
   transform: scale(1.1);
}

.blur-4 {
   filter: blur(0.45rem);
   transform: scale(1.1);
}

/* custom scrollbar */
::-webkit-scrollbar {
   width: 17px;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #d6dee1;
   border-radius: 20px;
   border: 6px solid transparent;
   background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #a8bbbf;
}
