mat-toolbar {
   z-index: 100;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
}

.topbar-box {
   -webkit-order: 0;
   -ms-flex-order: 0;
   order: 0;
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.topbar-box:first-child {
   justify-content: flex-start;
}

.topbar-box:last-child {
   justify-content: flex-end;
}

.topbar-item {
   transition: opacity 0.5s;
   display: flex;
}

.topbar-item:hover {
   cursor: pointer;
   opacity: 85%;
   -webkit-transition: opacity 0.5s 0s ease;
   -moz-transition: opacity 0.5s 0s ease;
   -o-transition: opacity 0.5s 0s ease;
   transition: opacity 0.5s 0s ease;
}

.logo {
   width: 125px;
}

.titulo-label {
   margin-left: 0.800rem;
}

.sair-icone {
   transform: scale(0.9);
   align-self: center;
   vertical-align: middle;
}

.sair-label {
   margin-left: 0.250rem;
   font-size: 16px;
}

a {
   text-decoration: none;
   color: #fff;
}

.menu-icon {
   transform: scale(0.8);
   color: #535353;
   margin-right: 5px;
}

mat-drawer-container {
   height: 100%;
}

mat-drawer {
   width: 220px;
   padding-top: 65px;
   padding-bottom: 10px;
   position: fixed;
}

mat-drawer a {
   color: #fff;
}

mat-drawer i {
   padding-right: 10px;
}

.mat-drawer-content {
   padding: 20px;
   background-color: #FAFAFA;
   height: 90%;
}

:host::ng-deep .mat-expansion-panel-body {
   padding: 0 !important;
}
